<div class="tab-container" style="padding-top: 0px">
  <div class="my-toilets-content">
        <h2>My Bookings</h2>
    <% if current_user.bookings.empty? %>
      <h3>You haven't made any bookings yet!</h3>
    <% else %>
      <div class="active-bookings-content">
        <h5>Active Bookings:</h5>
        <% if @active_booking %>
          <p>You're currently on the toilet!</p>
          <div class="my-booking-card">
            <%= cl_image_tag @active_booking.toilet.photo, height: 100, width: 200, crop: :fill %>
            <div class="my-booking-card-details">
              <%= link_to toilet_path(@active_booking.toilet) do %>
                <p><%= @active_booking.toilet.name %></p>
              <% end %>
            </div>
          </div>
        <% else %>
          <p>You don't have any active bookings.</p>
        <% end %>
      </div>
      <div class="past-bookings-content">
        <h5>Past Bookings:</h5>
        <% current_user.bookings.reverse.each do |booking| %>
          <div class="my-booking-card">
            <%= cl_image_tag booking.toilet.photo, height: 100, width: 200, crop: :fill %>
            <div class="my-booking-card-details">

              <% year = booking.start_time.year %>
              <% month = booking.start_time.month %>
              <% day = booking.start_time.day %>
              <% hour = booking.start_time.hour %>
              <% min = booking.start_time.min %>
              <% booking_date = "#{year}-#{month}-#{day} at #{hour}:#{min}" %>
              <p class="fine-sm-text">on <%= booking_date %></p>
              <%= link_to toilet_path(booking.toilet) do %>
                <p>You visited <span class="has-text-bold"><%= booking.toilet.name %></span></p>
              <% end %>
              <% if booking.review.present? %>
                <ul class="stars stars-sm">
                  <% booking.review.stars.times do |star| %>
                    <li><i class="fas fa-star"></i></li>
                  <% end %>
                  <% (5 - booking.review.stars).times do |star| %>
                    <li><i class="fas fa-star grey"></i></li>
                  <% end %>
                </ul>
              <% else %>
                <ul class="stars stars-sm">
                  <% 5.times do |star| %>
                    <li><i class="fas fa-star grey"></i></li>
                  <% end %>
                </ul>
              <% end %>
            </div>

            <div class="my-booking-card-actions">
              <% if booking.review.nil?  %>
                <%= link_to 'add a review', new_booking_review_path(booking), class: 'fine-sm-text btn-submit' %>
              <% else %>
                <p class="fine-sm-text">You've already reviewed this booking!
                <%= link_to 'edit?', new_booking_review_path(booking), class: 'fine-sm-text link' %>
                </p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
