<div class="search-page-content">
  <div class="search-page-results">
    <div class="filters">
      <ul class="icons icons-horizontal">
        <li><i class="fas fa-book" data-toggle="tooltip" data-placement="bottom" title="reading material"></i></li>
        <li><i class="fas fa-image" data-toggle="tooltip" data-placement="bottom" title="shit with view"></i></li>
        <li><i class="fas fa-music" data-toggle="tooltip" data-placement="bottom" title="bring your tunes"></i></li>
        <li><i class="fas fa-thermometer-half" data-toggle="tooltip" data-placement="bottom" title="warm feet"></i></li>
        <li><i class="fas fa-wifi" data-toggle="tooltip" data-placement="bottom" title="shit and surf"></i></li>
      </ul>
    </div>

      <div class="toilet-cards">
        <% if @toilets.empty? %>
        <div class="row">
          <div class="col-6 col-lg-12">
            <h5 style="margin-bottom: 25px">🤷 We couldn't find any toilets nearby!</h5>
            <div style="margin-bottom: 25px"><strong>Do you own a loo?</strong> <a href="/toilets/new"><u>Add yours</u></a> and save travellers life!</div>
            <div>
              <a href="/">← Go back</a>
            </div>
          </div>
        <% else %>
          <h3>Toilets near you...</h3>
          <div class="row">
            <% @toilets.each do |toilet| %>
              <div class="col-12 col-lg-6">
                <%= link_to toilet_path(toilet) do %>
                  <div class="card toilet-card">
                    <div class="toilet-img" style="background-image: url(<%= photo_or_placeholder(toilet) %>)"></div>
                    <div class="card-content">
                      <h6><%=truncate(toilet.name, length: 27)%></h6>
                      <ul class="stars stars-sm">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                      </ul>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
        <% end %>

      </div>
    </div>
  </div>

  <div class="map-results">
    <div
      id="map"
      style="width: 100%;
      height: 100vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
</div>
</div>

